[Desktop Entry]
Encoding=UTF-8
Name=WhiteSur Panel
Name[zh_CN]=WhiteSur 面板
Type=Service
ServiceTypes=Plasma/LayoutTemplate
X-Plasma-Shell=plasmashell
X-Plasma-ContainmentCategories=panel
X-KDE-PluginInfo-Author=vince liuice
X-KDE-PluginInfo-Email=vinceliuice@hotmail.com
X-KDE-PluginInfo-Name=org.github.desktop.WhiteSurPanel
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL 3.0
X-KDE-PluginInfo-EnabledByDefault=true
