[Desktop Entry]
Name=WhiteSur-light
X-KDE-PluginInfo-Name=WhiteSur-light
X-KDE-PluginInfo-Author=Vince Liuice
X-KDE-PluginInfo-Email=vinceliuice@hotmail.com
X-KDE-PluginInfo-License=CC BY-NC-SA 3.0
